*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  color: black;
}

.bday-txt {
  font-size: 1.2em;
  color: white;
  line-height: 1.65em;
  padding-bottom: 1em;
}

.bday-link {
  font-size: 1.2em;
  color: white;
  line-height: 1.3em;
  font-weight: bold;
}

.home {
  height: 100vh;
  position: relative;
  background-image: url(https://res.cloudinary.com/louiy9obu/image/upload/v1661408603/DSC04795_z7r1us.jpg);
  background-position: 20% 40%;
  color: #fff;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content {
  position: relative;
  text-align: center;
}
h1 {
  font-family: Playfair Display, serif;
  font-size: clamp(45px, 7vw, 130px);
  line-height: 1.1;
}

.bday-logo-main {
  padding-top: 4.3em;
}


.unlock-location {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.btn-main {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  margin-right: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

.bday-logo-loc {
  padding-top: 5em;
  padding-bottom: 1em;
}

.bday-txt-loc {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  margin-top: -1em;
}

.more-information {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  margin-top: 3.5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}


.bday-logo-sp {
  padding-top: 8.5em;
  margin-bottom: -2em;
}

.bday-txt-sp {
  font-size: 1.2em;
  color: white;
  line-height: 1.65em;
  margin-bottom: 2.5em;
}