*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  min-width: 1200px;
  font-family: roboto, sans-serif;
  color: black;
  overflow-x: auto; /* Allow horizontal overflow if needed */
  overflow-y: auto; 
}

.bday-txt {
  font-size: 1.2em;
  color: white;
  line-height: 1.65em;
  padding-bottom: 1em;
}

.bday-link {
  font-size: 1.2em;
  color: white;
  line-height: 1.3em;
  font-weight: bold;
}

.home {
  height: 100%;
  position: relative;
  background-image: url(https://res.cloudinary.com/louiy9obu/image/upload/v1661408603/DSC04795_z7r1us.jpg);
  background-position: 20% 40%;
  color: #fff;
  padding-bottom: 10em;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  z-index: -1; /* Ensure the video stays in the background */
}

.home-content {
  position: relative;
  text-align: center;
  overflow-x: auto;
  overflow-y: auto;
}

h1 {
  font-family: Playfair Display, serif;
  font-size: clamp(45px, 7vw, 130px);
  line-height: 1.1;
}

.bday-logo-main {
  padding-top: 4.3em;
}


.unlock-location {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.btn-main {
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  margin-right: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}

.bday-logo-loc {
  padding-top: 5.5em;
  padding-bottom: 1.5em;
}

.bday-txt-loc {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  margin-top: -1em;
}

.more-information {
  font-size: 1.6em;
  font-weight: bold;
  color: white;
  margin-top: 3.5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.more-information-btn {
  font-size: 1.6em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.607);
  margin-top: 3.5em;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: none;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}


.bday-logo-sp {
  padding-top: 8.5em;
  margin-bottom: -2em;
}

.bday-txt-sp {
  font-size: 1.2em;
  color: white;
  line-height: 1.65em;
  margin-bottom: 2.5em;
}

.trip-information {
  background-color: #ffe600;
  width: 100vw;  /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  margin: 0;     /* Remove default margins */
  padding: 0;    /* Remove default padding */
  box-sizing: border-box; /* Ensure padding and border are included in the width and height */
  overflow-x: auto; /* Allow horizontal overflow if needed */
  overflow-y: auto;
  padding-bottom: 10em;
}

.trip-info-txt {
  color : #00BF63;
  font-size: 1.6em;
  font-weight: bold;
  padding-bottom: 1.5em;
}

.trip-info-txt-p {
  color : #00BF63;
  font-size: 1.3em;
  font-weight: bold 200;
  line-height: 1.5em;
}

.trip-info-txt-p-p {
  color : #00BF63;
  font-size: 1.3em;
  font-weight: bold 200;
  line-height: 1.5em;
  padding-top: 1em;
}

.trip-info-btn {
  font-size: 1.6em;
  font-weight: bold;
  color: #00BF63;
  margin-top: 3.5em;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 20px;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #00BF63;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
  margin-right: 1em;
}
