*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  color: black;
}

.bday-txt {
  font-size: 1.2em;
  color: white;
  line-height: 1.3em;
  padding-bottom: 1em;
}

.bday-link {
  font-size: 1.2em;
  color: white;
  line-height: 1.3em;
  font-weight: bold;
}

.home {
  height: 100vh;
  position: relative;
  background-image: url(https://res.cloudinary.com/louiy9obu/image/upload/v1661408603/DSC04795_z7r1us.jpg);
  background-position: 20% 40%;
  color: #fff;
}
video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-content {
  position: relative;
  text-align: center;
}
h1 {
  font-family: Playfair Display, serif;
  font-size: clamp(45px, 7vw, 130px);
  line-height: 1.1;
}

.home p {
  margin-top: 10px;
}

.home-content button {
  display: block;
  font-size: clamp(14px, 1.5vw, 18px);
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  margin: 50px auto 0;
  padding: 12px 20px;
  cursor: pointer;
}

.bday-logo {
  padding-top: 5em;
  width: 50%;
}